{% extends "base.html" %}

{% block content %}

<!--load crispy form-->
{% load crispy_forms_tags %}

<div class="row">
    <!-- Left sidebar -->
    <!--Load the sidebar here-->
    {% include 'dashboard/sidebar.html' %}

    <!-- right side content -->
    <div class="col-md-9">
        <h2>Add new categories</h2>
        <form action="{% url 'add_categories' %}" method="POST" style="width: 500px;">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-warning">submit</button>
        </form>
        <br>
    </div>
</div>

{% endblock %}