{% extends 'base.html' %}

{% block content%}

<div class="row">
    <!-- Left sidebar -->
    <!--Load the sidebar here-->
    {% include 'dashboard/sidebar.html' %}

    <!-- right side content -->
    <div class="col-md-9">
        <h2>All categories</h2>
        <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Category name</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            {% for cat in categories %}
              <tr>
                <td>{{ forloop.counter }}</th>
                <td>{{ cat }}</td>
                <td>{{ cat.created_at }}</td>
                <td>{{ cat.updated_at }}</td>
                <td>
                    <a href=""><i class="fa fa-edit text-success"></i></a>
                    &nbsp;
                    <a href=""><i class="fa fa-trash text-danger"></i></a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
</div>

{% endblock %}