{% extends 'base.html' %}

{% block content %}

<div class="row">
    <!-- Left sidebar -->
    <div class="col-md-3">
        <div class="nav flex-column nav-pills bg-light" aria-orientation="vertical">
            <a href="" class="nav-link text-dark bg-warning">Dashboard</a>
            <a href="" class="nav-link text-dark">Categories</a>
            <a href="" class="nav-link text-dark">Posts</a>
            <a href="" class="nav-link text-dark">Logout</a>
        </div>
    </div>

    <!-- right side content -->
    <div class="col-md-9">
        <div class="row">
            <div class="col">
                <div class="card border-default mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">All Categories</div>
                    <div class="card-body text-dark">
                        <!--Fetching database-->
                        <h5 class="card-title text-center">{{ category_count }}</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-default mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">All Posts</div>
                    <div class="card-body text-dark">
                        <!--Fetching database-->
                        <h5 class="card-title text-center">{{ blogs_count }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}